<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/movie.png') }}">
  <title>
    Movie Review Classifier | Form
  </title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css" />
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="snowContainer">
    <img alt="snowflakes" src="/static/img/movie.png" class="snowExample"
      style="width: 400px; -webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation-duration: 4s;animation-duration: 4s; left:30%; margin-left: -200px;" />

    <img alt="snowflakes" src="/static/img/movie.png" class="snowExample"
      style="width: 100px; -webkit-animation-delay: 1s;animation-delay: 1s;-webkit-animation-duration: 4s;animation-duration: 4s; left:5%; margin-left: -200px;" />

    <img alt="snowflakes" src="/static/img/movie.png" class="snowExample"
      style="width: 300px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 4s;animation-duration: 4s; left:90%; margin-left: -200px;" />

    <img alt="snowflakes" src="/static/img/movie.png" class="snowExample"
      style="width: 100px; -webkit-animation-delay: 3s;animation-delay: 3s; -webkit-animation-duration: 4s;animation-duration: 4s; left:50%; margin-left: -200px;" />

    <img alt="snowflakes" src="/static/img/movie.png" class="snowExample"
      style="width: 250px; -webkit-animation-delay: 0s;animation-delay: 0s; -webkit-animation-duration: 5s;animation-duration: 5s; left:60%; margin-left: -250px;" />

    <img alt="snowflakes" src="/static/img/movie.png" class="snowExample"
      style="width: 70px; -webkit-animation-delay: 2s;animation-delay: 2s; -webkit-animation-duration: 5s;animation-duration: 5s; left:20%; margin-left: -250px;" />
  </div>
  <section>
    <div class="container">
      <h1 class="h1" rel="tooltip" title="Deep Learning 2019!">
        Deep Learning
        <br /> Movie Review Analysis
      </h1>
      <h3>Please, enter your movie review in the box below:</h3>
      {% from "_formhelpers.html" import render_field %}
      <form action="/results" method="post">
        <div>
          {{ render_field(form.moviereview, class="txtb", cols='30', rows='10') }}
        </div>
        <button type="submit" class="btn-mainbtn"> Let's analyze it!</button>
      </form>
    </div>
  </section>
  <footer>
    <div class="footer-container">
      <h1>Universidad Santo Tomás </h1>
      <h2>Nicolas Javier Carreño Perea</h2>
      <h3>Deep Learning 2021</h3>
    </div>
  </footer>
</body>